# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
env/

# IDE configs
.vscode/
.idea/

# Local files
.env
bot.db
*.sqlite3
*.log
*.txt

# Old versions
broken_version/
working_version/

