# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# Virtual environment
.venv/
env/
venv/

# VSCode / PyCharm
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3
*.db
logs/
bot.db

# Environment files
.env
*.env

# System files
.DS_Store
Thumbs.db
